imagePath = '/assets/images/';

$white = #ffffff;

//theme colors
$primary = #6fad94
$primary-light = #9fdfc4
$primary-dark = #417d66

$secondary = #f57f17
$secondary-light = #ffb04c
$secondary-dark = #bc5100

//primary and secondary color locked for now - others tbd
$accent = #F57C00
$error = #D50000
$warning = #ffeb3b
$info = #2196f3
$success = #4caf50


.text--white{
  color $white
}

// .primary{
//   colo
// }
